/* font family */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
body {
    font-family:  monospace !important; 
    /* 'Oswald', */
  }
/* header */
.text-indigo-800{
    color: #6610f2 ;
}
/* inputItem */
.input-item{
    min-width:40% ;
    border: none;
    border-bottom: 1px solid black;
}
 .input-item:focus{
    outline: none; 
    /* border-bottom: #6610f2; */
    /* border-color: black !important; */
    
     /* padding: 100px; */
} 
/* add-item-btn */
.add-item-btn{
    background-color:#6610f2 ;
    padding-left: 10px;
    padding-right: 10px;

}
.text-xl{
    font-size: 20px;
}
.custom-border-bottom {
    border-bottom: dashed 1.5px #6610f2;
}
/* footer scrolling */
@keyframes marquee{
    0%{
        transform: translateX(100%);
    }
    /* 50%{transform: translateX(50%);} */
    100%{transform: translateX(-100%);
    }
}
.moving-text{
    animation: marquee 15s linear  infinite;
    /* animation-delay: 0s; */
}
.moving-text p{
    background-color: rgb(102, 37, 37);
 }
.moving-text:hover{
    animation-play-state: paused;
}
/* profile social platform links */
.profile{
    top:80px;
    left: 10px;
    row-gap: 20px;
    background-color: rgb(240, 97, 218);
 }
 .profile img{
     height: auto;
     width: auto;
     border: none; 
 }
 .responsive-img {
    width: 50%;
 }
 @media only screen and (min-width: 768px) {
    .profile {
        top:30%;
    }
    .responsive-img {
        width: 35%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .responsive-img {
        width: 25%;
    }
}